/*variables*/
$font-text:'Kaisei Opti', serif;
$font-header:'IBM Plex Sans Thai', sans-serif;
$color-one: #eccc68;
$color-font: #f1f2f6;
$transition: all 1s;
/*global*/
*,*::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    background:#dfe4ea;
}
h1 {
  color: white;
}
h2{
  margin-bottom:0;
  text-align: center;
}
h3{
  color:white;
}
h4{
  margin-bottom:0;
  text-align: center;
}
h5 {
  color:$color-one;
  text-align: left;
  font-style:italic;
 }
p{
  font-size: 12px;
  font-weight: lighter;
  margin-top:0;
  font-family: cursive;
  font-weight: lighter;
  text-align: center;
}
section {
    padding: 96px 0;
}
.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border: solid;
}
.splash {
  background:url("../images/splash.jpg") no-repeat;
  background-size:cover;
  height:500px;
  width:100%;
  padding:0;
}

  ul {
    text-align:right;
    li {
      display:inline-block;
      a {
        text-decoration: none;
        color:$color-font;
      }
    }
  }
.splash-inner{
  text-align: center;
  .btn-one {
    background-color: $color-one;
    color:$color-font;
    border:none;
  }
}
.services {
  padding: 0;
  text-align: center;

  i{
    border:solid 2px;
    border-radius: 50px;
    border:solid;
    border-color:$color-one;
    color: $color-one;
  }
}
img {
  height:300px;
  width:300px;
}
.portfolio {
  .row {
    background:white
  }
}
